<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Log</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p id="brand" class="navbar-brand">DAILY LOG</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a id="nav-home" href="/">HOME</a></li>
          <li id="compose"><a id="nav-compose" href="/compose">COMPOSE</a></li>
          <li id="about"><a id="nav-about" href="/about">ABOUT</a></li>
          <li id="account"><a id="nav-account" href="/login">SWITCH ACCOUNT</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
